*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(57 57 120 / 65%);

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(70 70 118);
}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    margin: 0 23px;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(137, 172, 202);
    font-size: 1.09rem;
}
.left{
    font-size: 2rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 103px 0;
}
.name{
    color: #242485;
}
.firstsection div{
    width: 30%;
}
.leftsection{
    font-size: 2.85rem;
}
.rightsection img{
    width: 80%;
    margin: 0;   
}
.second{
    max-width: 80vw;
    margin: auto;
}
.second b{
    font-size: 1.5rem;
    color: #242485;
}
.second u{
    font-size: 1.2rem;
    color: #21247a;
}
.second p{
    font-size: 1.2rem;
    margin: 10px 0; 
}
.third{
    max-width: 80vw;
    margin: auto;
}
.third b{
    font-size: 1.5rem;
    color: #242485;
}
.academic {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background-color: rgb(76, 76, 129);
}

.academic th, .academic td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #b1afaf;
}

.academic th {
    font-weight: bold;
}
.fourth{
    max-width: 80vw;
    margin: auto;
}
.fourth b{
    font-size: 1.5rem;
    color: #242485;
}
.interest{
    /* width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 20px 0; */
    font-family: Arial, sans-serif;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.interests{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(76, 76, 129);
    padding: 23px;
    margin: 18px;
    border-radius: 15px;
    border: solid;
}
